<div class="form-group">
    <label class="title" for="phone"><i style="color: red" class="fa fa-asterisk"></i> Телефон</label>
    <input id="phone" type="text" class="form-control" [(ngModel)]="contract.phone">
    <span class="text-muted">например, 89261234567, но можно так +7(926)123-45-67</span>
</div>
<div class="form-group">
    <label class="title" for="name">Ваше имя</label>
    <input id="name" type="text" class="form-control" [(ngModel)]="contract.name">
</div>
<div class="form-group">
    <label class="title" for="address">Адрес</label>
    <input type="text" id="address" class="form-control" [(ngModel)]="contract.address">
</div>
<div class="form-group">
    <label class="title">Уведомления</label>
    <ul class="list-unstyled">
        <li class="checkbox">
            <label for="sendsms">
                <input type="checkbox" id="sendsms" [(ngModel)]="contract.sendSms"/>Отправлять в смс
            </label>
        </li>
    </ul>
</div>
<div class="form-group">
    <label class="title">Получение</label>
    <ul class="list-unstyled">
        <li class="radio">
            <label for="auto">
                <input type="radio" name="delivery" id="auto" [(ngModel)]="contract.delivery" [value]=deliveryMode.Auto>
                Доставка курьером <a routerLink="/delivery">(бесплатно, срок 1-2 дня)</a>
            </label>
        </li>
        <li class="radio">
            <label for="manual">
                <input type="radio" name="delivery" id="manual" [(ngModel)]="contract.delivery" [value]=deliveryMode.Manual>
                Самовывоз <a routerLink="/delivery">(бесплатно от м. Новые черемушки 10:00-19:00)</a>
            </label>
        </li>
    </ul>
</div>
<div class="form-group">
    <label class="title" for="note">Комментарий</label>
    <textarea id="note" rows="4" cols="20" class="form-control" [(ngModel)]="contract.note"></textarea>
</div>
<div class="form-group">
    <a class="btn btn-primary" (click)="submit()">Заказать</a>
    <div *ngIf="showError" class="alert alert-danger d-inline">Нужно обязательно указать свой телефон</div>
</div>