extends index.pug

block content
    div.container.view-first
        h1 Корзина покупок
        div
            div.alert.alert-success
                strong Заказ № #[contract.number] принят.
                |
                | Скоро наш менеджер свяжется с вами.
        div
            a.btn.btn-red.m-back(href="/")
                i.fa.fa-chevron-left.rgap
                | Распродажа сумок