extends index.pug

block content
    div.container.view-first
        h1 Корзина покупок
        div
            div.alert.alert-success
                span #{message}
        div
            a.btn.btn-red.m-back(href="/")
                i.fa.fa-chevron-left.rgap
                | Распродажа сумок