extends index.pug

block content
    div.container.view-first

        h1 Корзина покупок
        div
            div.alert.alert-info
                span В корзине пока нет ни одного товара
        div
            a.btn.btn-red.m-back(href="/")
                i.fa.fa-chevron-left.rgap
                | Распродажа сумок
        if history
            h2 История заказов
            ul.list-unstyled
                each h in history
                    li.cart-history-item
                        a(href=h.link)
                            b #{h.status}
                            |
                            |
                            span #{h.date}