
extends index.pug
block jumbo
    include jumbos/specials.pug
block content

    div.container
        div.row
            div.col
                h2 Все товары новые, отличного качества и в заводской упаковке.
                p Так же Вам стоит знать, что мы тщательно осматриваем все сумки и брак сразу возвращаем производителю.
        div.row
            include controls/card.pug
            each product in products
                +card(product, 'col-lg-3 col-md-4 col-sm-6 col-12')

        div.row
            div.col
                h3 Дальше листать смысла особо нет...
                p Остальное кончилось так давно, что мы забыли, как оно выглядело!