doctype html
html(lang='ru')
    head
        base(href='/')
        meta(charset='UTF-8')
        include meta
        include favicons
        include seo
        script(src='https://www.googletagmanager.com/gtag/js?id=UA-51761307-2' async)
        script(src='/scripts/yandex.js')
        script(src='/scripts/google.js')
        link(rel='stylesheet' href='/styles/loading.css')
    body
        application
            div.loading Загрузка...
        //- inject:css
        //- endinject
        //- inject:js
        //- endinject
