doctype html
html(lang='ru')
    head
        base(href='/')
        meta(charset='UTF-8')
        include meta
        include favicons
        link(rel='stylesheet' href='/css/loading.css')
    body
        application
            div.loading Загрузка...
        //- inject:css
        //- endinject
        //- inject:js
        //- endinject
