doctype html
html(lang='ru')
    head
        base(href='/')
        meta(charset='UTF-8')
        include meta
        include favicons
        //- inject:css
        //- endinject
    body
        application