


<div class="product-edit">
    <div class="row form-group">
        <label class="col-sm-offset-2 col-sm-10 control-label" ng-bind="product.name"></label>
    </div>
    <div class="row">
        <div class="pull-right col-sm-3 cover-wrap">
            <a class="cover" target="_blank" ng-href="{{'https://getyourbag.ru/'+product.category.url+'/'+product.url}}" ng-repeat="photo in product.photos | filter:getCover" ng-if="photo.fileId">
                <img ng-src="{{'/photos/'+product._id+ '/srv_'+ photo.fileId}}">
            </a>
        </div>
        <label class="col-sm-2 control-label my-pointer" for="title">Title</label>

        <div class="col-sm-7">
            <textarea id="title" rows="3" ng-model="product.title" class="form-control noresize"></textarea>
        </div>
        <label class="col-sm-2 control-label my-pointer" for="description">Description</label>

        <div class="col-sm-7">
            <textarea id="description" rows="3" ng-model="product.description" class="form-control noresize"></textarea>
        </div>
        <label class="col-sm-2 control-label my-pointer" for="keywords">Keywords</label>

        <div class="col-sm-7">
            <textarea id="keywords" rows="3" ng-model="product.keywords" class="form-control noresize"></textarea>
        </div>
    </div>
    <div class="row  form-group">
        <label class="col-sm-2 control-label">Краткое описание</label>

        <div class="col-sm-10 ace-details">
            <a class="m-pointer" ng-click="btf('details', product.details)">Выровнять</a>
            <div ui-ace="aceOptions" ng-model="product.details"></div>
        </div>
    </div>
    <div class="row  form-group">
        <label class="col-sm-2 control-label">Полное описание</label>

        <div class="col-sm-10 ace-information">
            <a class="m-pointer" ng-click="btf('description', product.description)">Выровнять</a>
            <div ui-ace="aceOptions" ng-model="product.description"></div>
        </div>
    </div>
</div>




    