


<div class="product-edit">
    <div class="row form-group">
        <label class="col-sm-2 control-label">Название</label>
        <div class=" col-sm-10 control-label" ng-bind="product.name"></div>
    </div>
    <div class="row">
        <div class="pull-right col-sm-3 cover-wrap">
            <a class="cover" target="_blank" ng-href="{{'https://getyourbag.ru/'+product.category.url+'/'+product.url}}" ng-repeat="photo in product.photos | filter:getCover" ng-if="photo.fileId">
                <img ng-src="{{'/photos/'+product._id+ '/srv_'+ photo.fileId}}">
            </a>
        </div>
        <div class="col-sm-2">
            <label class="control-label my-pointer" for="title">Заголовок</label>
            <div class="minihelper">знаков: <span class="label label-default" ng-bind="product.title.length"></span></div>
            <div class="minihelper">max 70</div>
        </div>
        <div class="col-sm-7">
            <textarea id="title" rows="3" ng-model="product.title" class="form-control noresize"></textarea>
        </div>
        <div class="col-sm-2">
            <label class="control-label my-pointer" for="description">Краткое описание</label>
            <div class="minihelper">знаков: <span class="label label-default " ng-bind="product.description.length"></span></div>
            <div class="minihelper">max 300</div>
        </div>
        <div class="col-sm-7">
            <textarea id="description" rows="5" ng-model="product.description" class="form-control noresize"></textarea>
        </div>
    </div>
    <div class="row  form-group">
        <div class="col-sm-2">
            <label class="control-label control-label" for="details">Краткое описание</label>
            <div class="minihelper">(лишнее)</div>
        </div>
        <div class="col-sm-10 ace-details">
            <textarea id="details"  rows="5" ng-model="product.details" class="form-control noresize"></textarea>
        </div>
    </div>
    <div class="row  form-group">
        <label class="col-sm-2 control-label" >Полное описание</label>

        <div class="col-sm-10 ace-information">
            <a class="m-pointer" ng-click="btf('information', product.information)">Выровнять</a>
            <div ui-ace="aceOptions" ng-model="product.information"></div>
        </div>
    </div>
</div>




    