<div class="container">
    <div class="row">
        <div class="me-header">
            <a class="me-brand" ng-href="/"><i class="fa  fa-shopping-bag m-icon-gap"></i>GetYourBag.ru</a>
            <b class="me-label">Москва</b>
        </div>
        <ul class="mb-navbar pull-right">
            <li class="me-nav me-delivery hidden-xs hidden-xxs" ng-class="{active:deliveryActive}">
                <a class="me-link" ng-href="/delivery/auto"><i class="fa fa-truck m-icon-gap"></i></i>Доставка</a>
                <b class="me-label">бесплатно</b>
            </li>
            <li class="me-nav me-cart hidden-xs hidden-xxs" ng-class="{active:cartActive}">
                <a class="me-link" ng-href="/cart"><i class="fa fa-shopping-cart m-icon-gap"></i>Корзина</a>

                <div class="me-count badge" ng-if="cart.count"><a ng-href="/cart"><span ng-bind="cart.count">-</span><span>шт</span></a></div>
                <div class="me-sum badge" ng-if="cart.sum"><a ng-href="/cart"><span ng-bind="cart.sum">-</span><i class="fa fa-rub"></i></a></div>
                <b class="me-label" ng-if="!cart.count">пока что пустая</b>
            </li>
            <li class="me-nav me-phone no-pointer" ng-class="{active:contactsActive}">
                <span class="me-info"><i class="fa fa-phone-square m-icon-gap hidden-xxs"></i><span class="m-select">+7(925)477-5001</span></span>
                <b class="me-label">09:00-21:00</b>
            </li>
        </ul>
        <ul class="mb-navbar hidden-sm hidden-md hidden-lg pull-right">
            <li class="me-nav me-delivery" ng-class="{active:deliveryActive}">
                <a class="me-link" ng-href="/delivery/auto"><i class="fa fa-truck m-icon-gap"></i></i>Доставка</a>
                <b class="me-label">бесплатно</b>
            </li>
            <li class="me-nav me-cart" ng-class="{active:cartActive}">
                <a class="me-link" ng-href="/cart"><i class="fa fa-shopping-cart m-icon-gap"></i>Корзина</a>

                <div class="me-count badge" ng-if="cart.count"><a ng-href="/cart"><span ng-bind="cart.count">-</span><span>шт</span></a></div>
                <div class="me-sum badge" ng-if="cart.sum"><a ng-href="/cart"><span ng-bind="cart.sum">-</span><i class="fa fa-rub"></i></a></div>
                <b class="me-label" ng-if="!cart.count">пока что пустая</b>
            </li>
        </ul>
    </div>
</div>
