.me-cat-name {
    position: relative;
}

.me-cat-name .m-url {
    position: absolute;
    bottom: -15px;
    left: 0;
    color: #0b97c4;
    font-size: 10px;
}
.me-cat-body{
    padding-bottom: 4px;
}