node_modules/
.idea/
build
data/photos/
data/config.json
market/config.json
market/admin/web/tmp/
market/admin/web/views/layout.dot
market/client/web/tmp
market/client/web/build
market/client/web/app/**/*.js,
market/client/web/app/**/*.map,
market/client/web/app/**/*.json
market/client/web/views/layout.dot

