<div class="row form-group">
    <label class="col-sm-2 control-label">Название сайта</label>

    <div class="col-sm-10">
        <input type="text" ng-model="settings.mainParams.siteName" class="form-control">
    </div>
</div>
<div class="row form-group">
    <label class="col-sm-2 control-label">Адрес сайта</label>

    <div class="col-sm-10">
        <input type="text" ng-model="settings.mainParams.siteUrl" class="form-control">
    </div>
</div>
<div class="row form-group">
    <label class="col-sm-2 control-label">Адрес системы администрирования</label>

    <div class="col-sm-10">
        <input type="text" ng-model="settings.mainParams.adminUrl" class="form-control">
    </div>
</div>
<div class="row form-group">
    <label class="col-sm-2 control-label">Телефон</label>

    <div class="col-sm-10">
        <input type="text" ng-model="settings.mainParams.phone" class="form-control">
    </div>
</div>
<div class="row form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <a ng-click="save()" class="btn btn-success">Сохранить</a>
    </div>
</div>

