.price{
    &__status {
        position: relative;
        height: 30px;
        line-height: 30px;
        //margin-bottom: 10px;
        &-available {
            .yes {
                color: #74b436;
            }
            .no {
                color: #f75163;
            }
        }
        &-incart {
            /*&[hidden] {
                opacity: 0;
                transition: opacity 300ms linear;
            }*/
            opacity: 0;
            color: #74b436;
            font-weight: bold;
            /*opacity: 1;
            transition: opacity 300ms linear;*/

        }
    }
    &__value {
        color: #f75163;
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 10px;
        &.no {
            color: #bbb;
        }
    }
    &__purchase {
        cursor: pointer;
        display: block;
        font-size: 18px;
        border-radius: 10px;
        border: solid 1px #9d9ca1;
        background-color: #313037;
        color: #fff;
        text-align: center;
        text-decoration: none;
        padding: 12px 23px;
        //margin-bottom: 10px;
        transition: background-color 300ms linear;
        &:hover,
        &.active {
            background-color: #f75163;
            border-color: #f75163;
            color: #fff;
            text-decoration: none;
            transition: background-color 300ms linear;
        }

    }
    &--w240{
        .price__purchase{
            width: 240px;
        }
    }

}