.pagination {
    > li {
        a {
            cursor: pointer;
        }
    }
}

.page-item {
    &.active {
        .page-link {
            background-color: $red;
            border-color: $red;
        }
    }
}