.pagination {
    > li {
        a {
            cursor: pointer;
        }
    }
}

.page-item {
    .page-link {
        color: #333;
    }
    &.active {
        .page-link {

            background-color: $red;
            border-color: $red;
        }
    }
}