<div class="container">
    <div class="mb-cloak">
        <div class="me-cloak" ng-show="showCloak"></div>
        <div class="row">
            <div class="cart col-xs-12">
                <h2>Корзина</h2>

                <div class="alert alert-info" ng-if="showEmpty===true">
                    <span>В корзине пока нет ни одного товара</span>
                </div>
                <div class="alert alert-success" ng-if="showSuccess===true">
                    <span><strong>Заказ принят.</strong> Скоро наш менеджер свяжется с вами.</span>
                </div>
                <div ng-if="showEmpty===false && showSuccess===false">
                    <div class="table-responsive">
                        <table class="table cart-list">
                            <tbody>
                            <tr ng-repeat="position in contract.positions">
                                <td ng-bind="$index+1"></td>
                                <td class="cover text-center"><img  fade-in ng-src="{{'/photos/'+position.product._id+ '/s_'+ position.product.cover}}" ng-href="/{{position.product.category.url+'/'+position.product.url}}"></td>
                                <td><a class="my-pointer" ng-bind="position.product.name" ng-href="/{{position.product.category.url+'/'+position.product.url}}"></a></td>
                                <td class="price text-center"><span ng-bind="position.product.price"></span><i class="fa fa-rub"></i></td>
                                <td class="change">
                                    <div class="input-group">
                                        <a class="btn btn-default input-group-addon" ng-click="minus($index)">
                                            <i class="fa fa-minus"></i>
                                        </a>
                                        <input ng-disabled="true" class="form-control text-center" ng-model="position.count">
                                        <a class="btn btn-default input-group-addon" ng-click="plus($index)">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                </td>
                                <td class="sum text-center info" width="100px"><b><span ng-bind="position.sum"></span><i class="fa fa-rub"></i></b></td>
                                <td class="del btn-danger text-center  m-pointer" ng-click="del($index)">
                                    <i class="fa fa-times"></i>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="2"></td>
                                <td colspan="3"><b class="m-cart-result">Итого</b></td>
                                <td class="text-center info"><b><span ng-bind="contract.final"></span><i class="fa fa-rub"></i></b></td>
                                <td></td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <h2>Контакты</h2>

                    <p>Мы обещаем не использовать ваш номер телефона в рекламных целях. Так же обещаем не передавать его третьим лицам.</p>

                    <p>Если у вас имеются особые пожелания, напишите их в комментарии к заказу, мы обязательно прочитаем и постараемся выполнить.</p>

                    <div class="form-horizontal">
                        <div class="form-group p-form-pad">
                            <label for="phone" class="col-sm-2 control-label"><i style="color: red" class="fa fa-asterisk"></i> Телефон</label>

                            <div class="col-sm-10">
                                <input id="phone" type="text" class="form-control" ng-model="contract.phone">
                                <span class="mb-input-help" for="phone">например 89261234567, но можно так +7(926)123-45-67</span>
                            </div>
                        </div>
                        <div class="form-group p-form-pad">
                            <label for="name" class="col-sm-2 control-label">Ваше имя</label>

                            <div class="col-sm-10">
                                <input id="name" type="text" class="form-control" ng-model="contract.name">
                            </div>
                        </div>
                        <div class="form-group p-form-pad">
                            <label for="address" class="col-sm-2 control-label">Адрес</label>

                            <div class="col-sm-10">
                                <input type="text" id="address" class="form-control" ng-model="contract.address">
                            </div>
                        </div>
                        <div class="form-group p-form-pad">
                            <label class="col-sm-2 control-label"> Уведомления</label>

                            <div class="col-sm-10">
                                <ul class="list-unstyled">
                                    <li class="checkbox">
                                        <label for="sendsms">
                                            <input type="checkbox" id="sendsms" ng-model="contract.sendSms"/>Отправлять в смс
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group p-form-pad">
                            <label class="col-sm-2 control-label"> Получение</label>

                            <div class="col-sm-10">
                                <ul class="list-unstyled">
                                    <li class="radio">
                                        <label for="auto">
                                            <input type="radio" name="delivery" id="auto" ng-model="contract.delivery" value="auto" checked>
                                            Доставка курьером <a ng-href="/delivery/auto">(бесплатно, срок 1-2 дня)</a>
                                        </label>
                                    </li>
                                    <li class="radio">
                                        <label for="manual">
                                            <input type="radio" name="delivery" id="manual" ng-model="contract.delivery" value="manual">
                                            Самовывоз <a ng-href="/delivery/manual">(бесплатно от м. Новые черемушки 10:00-19:00)</a>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group p-form-pad">
                            <label class="col-sm-2 control-label">Комментарий</label>

                            <div class="col-sm-10">
                                <textarea rows="4" cols="20" class="form-control" ng-model="contract.note"></textarea>
                            </div>
                        </div>
                        <div class="form-group p-form-pad">
                            <div class="col-sm-offset-2 col-sm-10">
                                <a class="btn btn-primary" ng-click="place()">Заказать</a>
                            <span ng-if="showError" class="alert alert-danger inline">
                                <div>Нужно обязательно указать свой телефон</div>
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cart-history" ng-if="history.length>0">
                    <h2>История заказов</h2>
                    <ul class="list-unstyled">
                        <li ng-repeat="h in history" class="cart-history-item">
                            <a ng-href="/cart/{{h._id}}"><b ng-bind="h.status"></b> <span ng-bind="h.date | date:'dd.MM.yyyy HH:mm:ss'"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>