<div class="parameter-head">
    <b>{{parameter.name}}</b>
</div>
<div class="parameter-body d-flex">
    <div class="input" [ngClass]="{'focus':f1}">
        <span class="prefix">от</span>
        <input class="field" type="text" [(ngModel)]="parameter.from" (ngModelChange)="changeFilter()" (focus)="f1=true" (blur)="f1=false"/>
        <a class="clear pointer" (click)="clearFrom()"><i class="fa fa-times"></i></a>
    </div>
    <div class="input" [ngClass]="{'focus':f2}">
        <span class="prefix">до</span>
        <input class="field" type="text" [(ngModel)]="parameter.to" (ngModelChange)="changeFilter()" (focus)="f2=true;"  (blur)="f2=false"/>
        <a class="clear pointer" (click)="clearTo()"><i class="fa fa-times"></i></a>
    </div>
</div>