<div class="row form-group">
    <label class="col-sm-2 control-label">Название</label>
    <div class="col-sm-10 ">
        <div class="input-group m-input-group m-input-group-w100">
            <input type="text" ng-model="parameter.name" ng-model-options="{updateOn:'input'}" ng-change="nameToUrl()" class="form-control m-input-addon-50" placeholder="название">
            <input type="text" ng-model="parameter.url" class="input-group-addon form-control m-input-addon-50" placeholder="url">
            <a class="btn btn-default input-group-addon" ng-click="nameToUrl(true)"  title="Создать url из названия">
                <i class="fa fa-refresh"></i>
            </a>
        </div>
    </div>
</div>
<div class="row form-group">
    <label class="col-sm-2 control-label">Описание</label>

    <div class="col-sm-10 ">
        <input ng-model="parameter.details" class="form-control">
    </div>
</div>
<div class="row form-group">
    <label class="col-sm-2 control-label">Единица измерения</label>

    <div class="col-sm-10 ">
        <input ng-model="parameter.unit" class="form-control">
    </div>
</div>

<div class="row form-group">
    <label class="col-sm-2 control-label">Yml *</label>

    <div class="col-sm-10 ">
        <input ng-model="parameter.ymlName" class="form-control">
    </div>
</div>
<div class="row form-group">
    <label class="col-sm-2 control-label">Field *</label>

    <div class="col-sm-10 ">
        <input ng-model="parameter.field" class="form-control">
    </div>
</div>
<div class="row form-group">
    <label for="behaviors" class="col-sm-2 control-label">Тип</label>

    <div class="col-sm-10 ">
        <select id="behaviors" class="form-control"
                ng-model="parameter.behavior"
                ng-options="b.behavior as b.name for b in behaviors "
                ng-change="behaviorChange(parameter.behavior)">
        </select>
    </div>
</div>

<div class="row form-group" ng-show="parameter.behavior !='onecheck'">
    <label class="col-sm-2 control-label"><span ng-bind="!editable?'Добавить значение':'Изменить значение'"></span></label>
    <div class="col-sm-10 ">
        <div class="input-group m-input-group m-input-group-w100">
            <input type="text" class="input-group-addon form-control m-input-addon-50" ng-enter="modify()" ng-model="selected.val" placeholder="значение" ng-model-options="{updateOn:'input'}" ng-change="valToUrl()">
            <input type="text" class="form-control m-input-addon-50" ng-enter="modify()" ng-model="selected.url" placeholder="url">
            <a class="btn btn-default input-group-addon" ng-click="valToUrl(true)"  title="Создать url из названия">
                <i class="fa fa-refresh"></i>
            </a>
            <a class="input-group-addon btn btn-success" ng-click="modify()"><span ng-bind="!editable?'Добавить':'Изменить'"></span></a>
        </div>
    </div>
</div>
<div class="row form-group" ng-if="parameter.values.length">
    <label class="col-sm-2 control-label">Значения параметра</label>

    <div class="col-sm-10">
        <table class="table table-bordered table-hover ">
            <tr ng-repeat="v in parameter.values track by v.value">
                <td width="39px" class="btn-warning text-center my-pointer" title="Редактировать значение" ng-click="edit(v, $index)">
                    <i class="fa fa-pencil-square-o"></i></td>
                <td><span ng-bind="v.value"></span>
                    <div class="param-url" ng-bind="v.url"></div>
                </td>
                <td width="20%" ng-show="parameter.behavior =='onecheck'||parameter.behavior =='radiolist'">
                    <label for="selected" class="my-pointer regular">
                        <input type="checkbox" id="selected" ng-model="v.selected"> <span ng-if="v.selected">Выбрано</span><span ng-if="!v.selected">Не выбрано</span>
                    </label>
                </td>
                <td width="20%" ng-show="parameter.behavior =='radiolist'">
                    <label for="nomatter_{{v._id}}" class="my-pointer regular">
                        <input type="checkbox" id="nomatter_{{v._id}}" ng-model="v.nomatter"> <span>Игнорируемый</span>
                    </label>
                </td>
                <td width="39px" class="btn-danger text-center my-pointer" title="Удалить значение" ng-click="remove($index)">
                    <i class="fa fa-times"></i></td>
            </tr>
        </table>
    </div>
</div>
<div class="row form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <a ng-click="save()" class="btn btn-success">Сохранить</a>
        <a ng-click="back()" ng-if="isBack" class="btn btn-warning">Назад</a>
        <span ng-if="noNameError" class="text-danger">Нужно обязательно заполнить поле <strong>Название</strong></span>
    </div>
</div>
<div class="row">
    <div class="col-sm-offset-2 col-sm-10">
        <b>*</b>
        <span>Значения в этих полях указывается, только если пользователь понимает, что он делает</span>
    </div>
</div>
