<div class="col-xs-12 mb-switch" ng-class="{'visible-xxs visible-xs':showButtons,'hidden-xxs hidden-xs':!showButtons}">
    <a class="me-btn m-pointer text-nowrap" ng-click="toFilter()"><i class="fa fa-bars m-icon-gap"></i>Фильтры</a>
    <a class="me-btn m-pointer text-nowrap" ng-click="clearFilter()"><i class="fa fa-times m-icon-gap"></i>Сбросить</a>
</div>
<div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 product-menu" ng-class="{'hidden-xxs hidden-xs':!hideList}">
    <div class="mb-cloak">
        <div class="me-cloak" ng-show="showCloakForElem['filter']"></div>
        <ul class="list-unstyled parameter">
            <li class="filter-cmd">
                <a class="col-xxs-6 m-pointer text-nowrap" ng-click="applyFilter()"><i
                        class="fa fa-filter m-icon-gap"></i>Применить</a>
                <a class="col-xxs-6 m-pointer text-nowrap" ng-click="clearFilter()"><i
                        class="fa fa-times m-icon-gap"></i>Сбросить</a>
            </li>
            <li ng-repeat="parameter in parameters">
                <div ng-if="parameter.name && parameter.behavior!='onecheck'" class="parameter-head">
                    <b ng-bind="parameter.name"></b>
                </div>
                <div class="parameter-body">
                    <ul ng-if="parameter.behavior!='input'" class="list-unstyled">
                        <li class="checkbox" ng-repeat="v in parameter.values">
                            <label ng-class="{'grey':!v.active}" class="parameter-name">
                                <input type="checkbox" ng-change="applyFilter()" ng-model="v.selected">
                                <span ng-bind="parameter.behavior=='onecheck'?parameter.name:v.value"></span>
                            </label>
                        </li>
                    </ul>
                    <div ng-if="parameter.behavior=='input'" class="parameter-string">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="parameter-input " ng-class="{'parameter-focus':f1}">
                                    <span>от</span>
                                    <div>
                                        <input type="text" ng-model="parameter.from"  ng-model-options="{updateOn:'input',debounce:{'input':200}}" ng-change="applyFilter()" ng-focus="f1=true"
                                               ng-blur="f1=false">
                                    </div>
                                    <span class="m-pointer" ng-click="clearFrom(parameter)">Х</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="parameter-input col-sm-6" ng-class="{'parameter-focus':f2}">
                                    <span>до</span>

                                    <div>
                                        <input type="text" ng-model="parameter.to"  ng-model-options="{updateOn:'input',debounce:{'input':200}}" ng-change="applyFilter()" ng-focus="f2=true"
                                               ng-blur="f2=false">
                                    </div>
                                    <span class="m-pointer" ng-click="clearTo(parameter)">Х</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="filter-cmd">
                <a class="col-xxs-6 m-pointer text-nowrap" ng-click="applyFilter()">
                    <i class="fa fa-filter m-icon-gap"></i>Применить</a>
                <a class="col-xxs-6 m-pointer text-nowrap" ng-click="clearFilter()">
                    <i class="fa fa-times m-icon-gap"></i>Сбросить</a>
            </li>
        </ul>
    </div>
</div>