.cart-history {
    margin-bottom: 20px;

}

.cart-history > a {
    width: 250px;
}

.cart-history > a > i.fa {
    width: 14px;
    line-height: 20px;
}

.cart-history-item {
    margin: 15px 0;
}

.cart-list > tbody > tr > td {
    vertical-align: middle;

}

.cart-list .change {
    width: 150px;
    min-width: 150px;
    padding: 0 10px 0 0 !important;
}

.cart .change input {
    min-width: 50px;
}

.cart-list > tbody > tr > td:first-child {
    width: 39px;
    min-width: 39px;
}

.cart-list .cover {
    padding: 0 !important;
    width: 30px;
    min-width: 30px;
}

.cart-list .price {
    width: 100px;
    min-width: 100px;
}

.cart-list .price2 {
    width: 120px;
    min-width: 120px;
}

.cart-list .sum {
    width: 100px;
    min-width: 100px;
}

.cart .del {
    width: 39px;
    min-width: 39px;
}

.mb-input-help {
    color: #777;
    font-size: 14px;
}

.cart .cart-list {
    margin-bottom: 0;
}

.placed {
    position: relative;
}

.c-parent {
    background-color: #fff;
}

.m-back {
    margin-top: 23px;
    margin-left: 20px;
}