catalog {
    margin-bottom: 20px;
    .c-buttons {
        margin-top: 10px;
        height: 40px;
        line-height: 40px;
        z-index: 1000;

    }
    .c-button {
        border: 1px solid $border-color;
        margin-right: 10px;
        display: inline-block;
        padding: 2px 10px;
        color: $black;
        transition: background-color 300ms linear;
        &:hover {
            color: $white;
            background-color: $red;
            transition: background-color 300ms linear;
        }
    }
    .product-menu {
        width: 280px;
        min-width: 280px;
        margin-right: 10px;
    }
    @include media-breakpoint-down(sm) {
        .product-menu{
            display: block;
            width: 100%;
            min-width:100%;
        }
    }


    .product-list {
        flex-grow: 1
    }
}