#mb-status {
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 1000;
}

#mb-status .me-status-block {

    color: #fff;
    border-radius: 4px;
    padding: 10px 20px;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

#mb-status .me-status-block.success{
    background-color: #5cb85c;
    border-color: #4cae4c;
}

#mb-status .me-status-block.error{
    background-color: #5cb85c;
    border-color: #4cae4c;
}

#mb-status .me-status-block.active {
    opacity: 0.9;
    transition: opacity 300ms ease-in-out;
}

#mb-status .me-status-close {
    margin-left: 10px;
}

.me-status-close:hover  {
    color: #000;
}
