market-menu {
    display: block;
    background-image: url(/img/menu_bg.jpg);
    height: 70px;
    user-select: none;
    .menu-container {
        height: 70px;
    }
    .menu-item {
        transition: color 300ms, background-color 300ms;
        color: #fff;
        line-height: 40px;
        border-radius: 10px;
        margin: 0 20px;
        padding: 0 40px;
        font-size: 1.5rem;
        &.active,
        &:hover {
            text-decoration: none;
            color: #555555;
            background-color: #fff;
            transition: color 300ms, background-color 300ms;
        }
    }
    @include media-breakpoint-down(xs) {
        .menu-item {
            font-size: 1rem;
            padding: 0 20px;
        }
    }
}
