<div class="mb-filter">
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <div class="input-group">
                    <input ng-model="filter.text" ng-enter="query()" class="form-control" placeholder="название товара">
                    <a class="input-group-addon btn btn-success" ng-click="query()">Поиск</a>
                </div>
            </div>
            <div class="form-inline">
                <div class="inline m-rgap">
                    <div>категория</div>
                    <select class="form-control" ng-model="filter.category" ng-change="query()" ng-options="category._id as category.name for category in source.categories">
                        <option value="">не важно</option>
                    </select>
                </div>
                <div class="inline m-rgap">
                    <div>видимость</div>
                    <select class="form-control" ng-model="filter.publish" ng-change="query()" ng-options="publish.value as publish.name for publish in source.publishes">
                        <option value="">не важно</option>
                    </select>
                </div>
                <div class="inline m-rgap">
                    <div>наличие</div>
                    <select class="form-control" ng-model="filter.count" ng-change="query()" ng-options="count.value as count.name for count in source.counts">
                        <option value="">не важно</option>
                    </select>
                </div>
                <div class="inline m-rgap">
                    <div>на главной</div>
                    <select class="form-control" ng-model="filter.special" ng-change="query()" ng-options="special.value as special.name for special in source.specials">
                        <option value="">не важно</option>
                    </select>
                </div>
                <button class="btn btn-danger form-control" ng-click="clear()">Сбросить</button>
            </div>
        </div>
    </div>
</div>