div.slider.slide-2
    div.container.d-flex.flex-column.align-items-center
        div.slogan.text-center
            div.title2 Отличный выбор
            div.subtitle Менеджеры приведены в повышенную боевую готовность и жду возможности выполнить ваш заказ!
