div.slider.slide-1
    div.container
        div.slogan.hidden-xs-down
            h1 Мы продаем классные ранцы для школьников
            p Российского производства и первоклассного качества: ровные швы, идеально работающая молния, крепкие ручки, шикарная ткань и красивые рисунки
                i.fa.fa-thumbs-o-up.lgap
