div.slider.slide-3
    div.container.d-flex.flex-column.align-items-center
        div.slogan.text-center
            div.title2 У котика есть сумка
            div.subtitle А у Вас, уважаемый посетитель, похоже, еще нет.
            div.subtitle Скорей на
                a(href='/') распродажу сумок!
