div.slider.slide-1
    div.container.d-flex.flex-column.align-items-center
        div.slogan.text-center
            div.title Распродажа
            div.subtitle Распродажа не бесконечна! В пятницу, в 9 вечера все сумки превратятся в тыквы!
            div#timer
            div.minititle таймер показывает сколько осталось до конца праздника
