div.slider.slide-1
    div.container.d-flex.flex-column.align-items-center
        div.slogan.text-center
            h1 Ликвидация
            p Сумки разлетаются, как горячие пирожки, медлить нельзя!
            div#timer
