<div class="row form-group">
    <label class="col-sm-2 control-label">Добавить файл</label>

    <div class="file-input-wrapper col-sm-10">
        <label for="upload" class="btn btn-primary">Выбрать</label>
        <input id="upload" type="file" ng-file-select="onFileSelect($files)" multiple>
    </div>
</div>
<div class="row" ng-if="!category.files || category.files.length==0">
    <div class="col-sm-10 col-sm-offset-2">
        <div class="alert alert-info">Вы не загрузили ни одного файла</div>
    </div>
</div>
<div ng-if="category.files.length>0" class="row form-group my-border-row" ng-repeat="file in category.files">
    <div class="col-sm-3">
        <i class="m-icon-gap" ng-class="'fa '+ file.fileType"></i> <a target="_blank" ng-href="{{'/files/' + category._id + '/' + file.fileId}}" ng-bind="file.fileId"></a>
    </div>
    <div class="col-sm-8 form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">Название</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="file.name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Url</label>

            <div class="col-sm-10">
                <div class="input-group mm-margin10">
                    <input id="url" ng-model="file.url" ng-change="hideUrlError()" class="form-control">
                    <a class="btn btn-default input-group-addon" ng-click="makeUrl()">
                        <i class="fa fa-exclamation"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Описание</label>

            <div class="col-sm-10 ace-details">
                <a class="m-pointer" ng-click="btf(file.details)">Выровнять</a>
                <textarea ui-ace="aceOptions" ng-model="file.details"></textarea>
            </div>
        </div>
    </div>
    <div class="col-sm-1">
        <a title="Удалить фотографию" ng-click="remove(file.fileId)" class="btn btn-danger js-remove">
            <i class="fa fa-trash-o"></i>
        </a>
    </div>
</div>
