cart-history{
    .final {
        background-color: #d9edf7;
    }
}cart-contact{
     .title{
         font-weight: bold;
     }
     @include media-breakpoint-up(md) {
         .submit {
             margin-left: auto !important;
         }

     }
 }
cart-history {
    .even {
        background-color: #efefef;
        box-shadow: inset 0 0 4px 2px rgba(255,255,255,1);
    }
    .final {
        background-color: #d9edf7;
        line-height: 45px;
        font-weight: bold;
        margin-bottom: 50px;
        box-shadow: inset 0 0 4px 2px rgba(255,255,255,1);
    }
    .position-item {
        padding: 10px 0;
    }
}
.final {
    background-color: #d9edf7;
    line-height: 45px;
    font-weight: bold;

}
.final-price {
    margin-left: 95px;
}
.even {
    background-color: #efefef;

}
.position-item {
    padding: 10px 0;
}
@include media-breakpoint-down(sm) {
    .position-first {
        margin-bottom: 5px;
    }
}
@include media-breakpoint-up(sm) {
    .final-name {
        margin-left: 55px;
    }

}



