<div id="mp-items" class="col-lg-9 col-md-8 col-sm-7 col-xs-12" ng-class="{'hidden-xxs hidden-xs':hideList}">
    <div class="mb-sort">
        <ul class="list-inline col-xs-12">
            <li class="hidden-xxs">
                <b>Сортировка</b>
            </li>
            <li ng-repeat="sort in sorts">
                <a class="m-pointer me-btn" ng-click="doSort($index)">
                    <i class="fa me-icon" ng-if="sort.active" ng-class="{'fa-sort-amount-asc':sort.asc,'fa-sort-amount-desc':!sort.asc}"></i>
                    <span class="me-title" ng-bind="sort.name"></span>
                </a>
            </li>
        </ul>
    </div>
    <div class="alert alert-info" ng-if="products.length==0">Не найдено ни одного товара. Попробуйте изменить параметры поиска или <a class="m-pointer text-nowrap" ng-click="clearFilter()">сбросить фильтры</a></div>
    <div class="mb-cloak">
        <div class="me-cloak" ng-show="showCloakForElem['list']"></div>
        <div class="mb-item" ng-repeat="product in products track by product._id" ng-class="{'last':$last}">

            <div class="me-image col-xxs-12 col-xs-6">
                <div class="me-stock me-stock-img hidden-lg" ng-if="product.stock" ng-bind="product.stockText"></div>
                <a class="me-link" href="/{{catid}}/{{product.url}}">
                    <img fade-in ng-src="{{'/photos/'+product._id+ '/l_'+ product.cover}}">
                    <i class="fa fa-picture-o faa-pulse animated me-icon"></i>
                </a>
            </div>
            <div class="me-screens visible-lg-block">
                <a class="me-link" ng-repeat="list in product.list" href="/{{catid}}/{{product.url}}">
                    <img fade-in ng-src="{{'/photos/'+product._id+ '/s_'+  list}}">
                    <i class="fa fa-picture-o faa-pulse animated me-icon"></i>
                </a>
            </div>
            <div class="me-info col-xxs-12 col-xs-6">
                <a class="me-name" href="/{{catid}}/{{product.url}}" ng-bind="product.name"></a>
                <div class="mb-money">
                    <div class="me-status">
                        <span class="me-incart" ng-class="{'mm-yes':product.inCart}"><i class="fa fa-check-circle m-icon-gap"></i>В корзине</span>

                        <div class="me-available" ng-if="!product.inCart">
                            <span class="mm-yes" ng-if="product.available"><i class="fa fa-check-square-o m-icon-gap"></i>В наличии</span>
                            <span class="mm-no" ng-if="!product.available" ng-class="{'m-blink':product.blink}"><i class="fa fa-ban m-icon-gap"></i>Отсутствует</span>
                        </div>
                    </div>
                    <div class="me-price" ng-class="{'mm-no':!product.available}"><b ng-bind="product.price"></b> <i class="fa fa-rub"></i></div>
                    <a class="me-buy m-pointer" ng-click="postPosition(product)"><i class="fa fa-shopping-cart m-icon-gap"></i>в корзину</a>
                </div>
                <div class="me-stock visible-lg" ng-if="product.stock" ng-bind="product.stockText"></div>
                <div class="me-details visible-lg" ng-bind-html="product.details"></div>
            </div>

        </div>
    </div>
    <div class="" ng-if="pages.length>1">
        <ul class="pagination">
            <li ng-class="{'active':page.active}" ng-repeat="page in pages">
                <a ng-href="/{{catid}}/page/{{page.n}}" ng-click="toPage($event, page.n)">
                    <span ng-bind="page.n"></span>
                </a>
            </li>
        </ul>
    </div>
</div>