.menu {
    display: block;
    background-image: url(/img/menu_bg.jpg);
    height: 71px;
    -webkit-user-select: none;
    font-size: 24px;

    .title {
        color: #fff;
        line-height: 70px;
    }

    .menu-table {
        height: 71px;
        & > .active > a {
            color: #555555;
            background-color: #fff;
        }
        & > td {
            vertical-align: middle;
            /*width: 16.66666666666667%;*/

        }
        & > td > a {
            color: #fff;
            text-align: center;
            border-radius: 20px;
            display: block;
            text-decoration: none;
            overflow: hidden;
            margin-right: 20px;
        }
        & > td > a.last {
            margin-right: 0;
        }
        & > td > a > span {
            display: block;
            padding: 8px 15px;
            transition: background-color .3s linear;
        }
        & > td > a > span:hover {
            color: #333333;
            transition: background-color .3s linear;
            background-color: #fff;
            border-radius: 20px;
            text-decoration: none;
        }
    }

}
