cat-filter {
    .buttons {
        height: 42px;
        line-height: 42px;
    }
    .parameters {
        & > li {
            border: solid #e8e8e8;
            border-width: 0 1px 1px 1px;
            transition: background-color 300ms;
            overflow: hidden;
            &:first-child {
                border-top-width: 1px;
            }
            &:hover{
                background-color: #f7f7f7;
                transition: background-color 300ms;
            }
        }
    }

    @media (max-width: 768px) {
        .parameters {
            margin-top: 10px;
        }
    }

    .parameter-head {
        margin: 4px 0;
    }

    .parameter-head,
    .parameter-body {
        /*box-sizing: border-box;*/
    }

    .parameter-body .grey {
        color: #bbb;
    }

    .parameter-name:hover {
        color: #e94d51;
    }

    .parameters > li:hover .parameter-head {
        color: #e94d51;
    }

    .parameter-string {
        margin-bottom: 10px;
    }

    .parameter-focus {
        border-color: #e94d51;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(233, 77, 81, 0.6);
    }
    .parameters {
        user-select: none;
        margin-top: 50px;
        min-height: 550px;

    }

    .product-menu {
        position: relative;
    }
}