<ul class="list-unstyled parameters">
    <li class="buttons">
        <filter-buttons (onApplyFilter)="applyFilter()" (onClearFilter)="clearFilter()"></filter-buttons>
    </li>
    <li *ngFor="let parameter of parameters" [ngSwitch]="parameter.behavior">
        <filter-checkbox *ngSwitchCase="'onecheck'" [parameter]="parameter" (onChangeFilter)="changeFilter($event)"></filter-checkbox>
        <filter-checkboxlist *ngSwitchCase="'checklist'" [parameter]="parameter" (onChangeFilter)="changeFilter($event)"></filter-checkboxlist>
        <filter-radiolist *ngSwitchCase="'radiolist'" [parameter]="parameter" (onChangeFilter)="changeFilter($event)"></filter-radiolist>
        <filter-inputs *ngSwitchCase="'input'" [parameter]="parameter" (onChangeFilter)="changeFilter($event)"></filter-inputs>
    </li>
    <li class="buttons">
        <filter-buttons (onApplyFilter)="applyFilter()" (onClearFilter)="clearFilter()"></filter-buttons>
    </li>
</ul>