<div class="image d-flex align-items-center">
    <div class="stock" *ngIf="product.stock">{{product.stockText}}</div>
    <a class="link d-inline-block" routerLink="/{{categoryName}}/{{product.url}}">
        <img class="img-fluid" src="/photos/{{product._id}}/l_{{product.cover}}">
    </a>
</div>
<div class="info">
    <a class="d-block name" routerLink="/{{categoryName}}/{{product.url}}">{{product.name}}</a>
    <div class="d-flex">
        <div class="details hidden-md-down">{{product.details}}</div>
        <div class="money d-flex flex-column">
            <price (onPostPosition)="postPosition()" [product]="product"></price>
        </div>
    </div>
</div>

