<div class="row form-group" ng-show="showEmptyPlaced">
    <div class="col-sm-12">
        <span>Пока не поступило ни одного заказа</span>
        <a ng-click="newContract()" class="btn btn-primary">Создать</a>
    </div>
</div>
<div class="row form-group" ng-show="showEmptyMessage">
    <div class="col-sm-12" ng-bind="emptyMessage"></div>
</div>

<div class="row form-group my-ord-row contract-list" ng-show="contracts.length>0" ng-repeat="contract in contracts">
    <div class="col-xs-12 col-sm-6 col-md-4">
        <table class="table table-bordered table-no-padding">
            <tbody>
            <tr>
                <td colspan="2">
                    <a title="Редактировать заказ" class="btn btn-default pull-left contract120 rgap" ng-click="edit(contract._id)">Редактировать</a>
                    <a class="btn btn-primary contract120 rgap" title="Изменить статус заказа" ng-click="toStatus(contract._id)">Обработать</a>
                    <a title="Удалить заказ" class="btn btn-danger pull-right" ng-click="toDelete(contract._id)"><i class="fa fa-times"></i></a>
                </td>
            </tr>
            <tr>
                <td>
                    <b>Номер: </b>
                </td>
                <td ng-bind="contract.number"></td>
            </tr>
            <tr>
                <td>
                    <b>Дата: </b>
                </td>
                <td ng-bind="contract.date| date:'dd.MM.yyyy'"></td>
            </tr>
            <tr>
                <td>
                    <b>Время: </b>
                </td>
                <td ng-bind="contract.date| date:'HH:mm:ss'"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <table class="table table-bordered table-no-padding">
            <tr>
                <td><b>Имя: </b></td>
                <td ng-bind="contract.name"></td>
            </tr>
            <tr>
                <td><b>Телефон: </b></td>
                <td ng-bind="contract.phone"></td>
            </tr>
            <tr>
                <td><b class="text-nowrap">Способ получения: </b></td>
                <td>
                    <span ng-if="contract.delivery=='auto'">Доставка курьером</span>
                    <span ng-if="contract.delivery=='manual'">Самовывоз</span>
                </td>
            </tr>
            <tr>
                <td><b>Адрес: </b></td>
                <td ng-bind="contract.address"></td>
            </tr>
            <tr>
                <td><b>Комментарий: </b></td>
                <td ng-bind="contract.note"></td>
            </tr>
        </table>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4">
        <table class="table table-bordered table-no-padding">
            <tbody>
            <tr>
                <th></th>
                <th>Артикул</th>
                <th>Товар</th>
                <th>Цена</th>
                <th>Шт</th>
            </tr>
            <tr ng-repeat="position in contract.positions">
                <td class="cover">
                    <img fade-in ng-repeat="photo in position.product.photos | filter:getCover" ng-src="{{'/photos/' + position.product._id + '/s_' + photo.fileId}}">
                </td>
                <td ng-bind="position.product.article"></td>
                <td><a ng-href="{{'/admin/products/main/'+position.product._id}}" ng-bind="position.product.name || position.name"></a></td>
                <td ng-bind="position.product.price || position.price"></td>
                <td ng-bind="position.count"></td>
            </tr>
            <tr class="info">
                <td colspan="4"><strong>итого:</strong></td>
                <td><strong ng-bind="contract.final"></strong></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
