div.footer
    div.container
        div.d-flex.flex-wrap.justify-content-between
            div
                div Мы в социальных сетях
                div.socials
                    a.social(target="_blank" title="Вконтакте" href="https://vk.com/getyourbag")
                        i.fa.fa-vk
                    a.social(target="_blank" title="Одноклассники" href="https://ok.ru/group/53604311630074")
                        i.fa.fa-odnoklassniki
                    a.social(target="_blank" title="Instagram" href="https://instagram.com/getyourbag.ru")
                        i.fa.fa-instagram
            div
                div
                    i.fa.fa-envelope-o.rgap email:
                    span(itemprop="email") support@rasprodazha-sumok.ru.ru
                div
                    i.fa.fa-phone.rgap телефон:
                    span(itemprop="telephone") +7(925)477-5001
