<div class="container cloak" [ngClass]="{'visible': ready}">
    <button (click)="back()" *ngIf="isBack" class="btn btn-red pull-right m-back">
        <i class="fa fa-chevron-left rgap"></i>Назад
    </button>
    <h1 class="me-name">{{product.name}}</h1>
    <p>{{product.details}}</p>
    <div class="col-12 text-center photo">
        <img itemprop="image" *ngIf="selectedImage" class="img-fluid" src="{{'/photos/'+product._id+ '/l_'+ selectedImage}}" alt="{{product.name}}">
    </div>
    <div class="row no-gutters">
        <a class="me-link col-3 text-center" (click)="imageSelect(i)" [ngClass]="{'active':selectedIdx==i}" *ngFor="let image of product.images; let i=index;">
            <img class="img-fluid" src="{{'/photos/'+product._id+ '/m_'+  image}}">
        </a>
    </div>
    <div class="row">
        <price class="col-12" (onPostPosition)="postPosition($event)" [product]="product" [img]="config.host+'/photos/'+product._id+ '/l_'+ selectedImage"></price>
    </div>
    <div class="row">
        <div class="me-info col-md-12 col-lg-6">
            <h2>Описание</h2>
            <div #dataContainer></div>
        </div>
        <div class="me-info col-md-12 col-lg-6">
            <h2>Характеристики</h2>
            <table class="table table-bordered">
                <tr *ngFor="let parameter of product.parameters">
                    <td>{{parameter.name}}<span *ngIf="parameter.unit">, {{parameter.unit}}</span></td>
                    <td><span *ngIf="parameter.value">{{parameter.value}}</span></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <v-socials class="d-block mb-3" [description]="product.description" [url]="url" [imagePath]="config.host+'/photos/'+product._id+ '/l_'+ selectedImage"></v-socials>
        </div>
    </div>
</div>