<div class="image">
    <div class="stock" *ngIf="product.stock">{{product.stockText}}</div>
    <a class="link d-inline-block" routerLink="/{{categoryName}}/{{product.url}}">
        <img src="/photos/{{product._id}}/l_{{product.cover}}">
    </a>
</div>
<div class="info">
    <a class="name" routerLink="/{{categoryName}}/{{product.url}}">{{product.name}}</a>
    <div class="d-flex">
        <div class="details" [innerHtml]="product.details"></div>
        <div class="money d-flex flex-column">
            <div class="status">
                <span class="incart" *ngIf="product.inCart"><i class="fa fa-check-circle rgap"></i>В корзине</span>
                <span class="available yes" *ngIf="!product.inCart && product.available"><i class="fa fa-check-square-o rgap"></i>В наличии</span>
                <span class="available no" *ngIf="!product.inCart && !product.available" [ngClass]="{'blink':product.blink}"><i class="fa fa-ban rgap"></i>Отсутствует</span>
            </div>
            <div class="price" [ngClass]="{'no':!product.available}">{{product.price}} руб.</div>
            <a class="buy pointer d-block" ng-click="postPosition(product)"><i class="fa fa-shopping-cart rgap"></i>в корзину</a>
        </div>

    </div>
</div>

