cat-product {
    display: block;
    overflow: hidden;
    margin-bottom: 10px;
    transition: background-color 300ms;
    &:hover{
        background-color: #f7f7f7;
        transition: background-color 300ms;
    }
    .image {
        position: relative;
        height: 240px;
    }
    .stock {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        color: $red;
    }
    .info {
        padding: 10px 15px;
        height: 240px;
    }
    .name {
        color: #333;
        font-weight: bold;
        display: block;
        margin-bottom: 10px;
        transition: color 300ms linear;
        height: 66px;
        overflow: hidden;
        &:hover {
            color: #f75163;
            transition: color 300ms linear;
        }
    }
    .details{
        margin-right: 10px;
    }
    .money {
        width: 130px;
        min-width: 130px;
    }
    .buy {
        font-size: 18px;
        border-radius: 8px;
        border: solid 1px #9d9ca1;
        background-color: #313037;
        text-align: center;
        color: #fff;
        text-decoration: none;
        padding: 10px;
        transition: background-color 300ms linear;
        &:hover {
            background-color: #f75163;
            border-color: #f75163;
            color: #fff;
            text-decoration: none;
            transition: background-color 300ms linear;
        }

    }
    .price {
        color: #f75163;
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 10px;
        &.no {
            color: #bbb;
        }
    }
    .incart {
        color: #74b436;
        font-weight: bold;
    }
    .available {
        &.yes {
            color: #74b436;
        }
        &.no {
            color: #f75163;
        }
    }
    .status {
        line-height: 30px;
        margin-bottom: 10px;
    }

}

@media (min-width: 1200px) {
    cat-product {
        border: 1px solid #e8e8e8;
        .me-stock {
            font-weight: bold;
            padding: 0;
            color: #f75163;
        }
        .me-image {
            width: 180px;
            border: 0;
        }
        .me-screens {
            width: 60px;
            float: left;
        }
        .me-link {
            transition: background-color 300ms linear;
            position: relative;
            width: 60px;
            height: 80px;
            display: inline-block;
            &:hover {
                background-color: #f7f7f7;
                transition: background-color 300ms linear;
            }

        }

        .me-info {
            width: 605px;
            background-color: transparent;
            text-align: left;
        }
        .name {
            height: auto;
            font-size: 22px;
            margin-bottom: 10px;
        }
        .name,
        .details {
            color: #333333;
        }
        .mb-money {
            float: right;
            width: 160px;
        }

    }

}
