.me-soc-msg{
    margin-top: 6px;
}
.me-social{
    font-size: 28px;
    display: inline-block;
    margin-right: 6px;
    transition: color 300ms ease-out;
    &:hover{
        color: #f75163;
        transition: color 300ms ease-out;
    }
}