.navbar {
    display: block;
    user-select: none;
    background-color: #313037;
    .navbar-item,
    .navbar-cart {
        position: relative;
        transition: background-color .25s ease-out;
        &.active,
        &:hover,
        &:focus {
            .navbar-cart__sum, .navbar-cart__count {
                background-color: #313037;
                transition: background-color .25s ease-out;
            }
            text-decoration: none;
            background-color: #e94d51;
            transition: background-color .25s ease-out;
        }
        .fa {
            width: 16px;
        }
        &__label {
            position: absolute;
            bottom: -14px;
            left: 38px;
            color: #fff;
            font-size: 10px;
            font-weight: normal;

        }
        &__link {

            height: 50px;
            z-index: 100;
            padding: 0 15px;
            display: block;
            color: #fff;
            line-height: 44px;
            text-decoration: none;

        }
        &__count,
        &__sum {
            position: absolute;
            padding: 2px 4px 2px 3px;
            display: inline-block;
            color: #fff;
            left: 106px;
            vertical-align: baseline;
            white-space: nowrap;
            font-size: 10px;
            background-color: #e94d51;
            border-radius: 5px;
            line-height: 9px;
            transition: background-color .25s ease-out;
            &:after {
                content: ' ';
            }
        }
        &__count {
            top: 6px;
        }
        &__sum {
            top: 24px;
        }
        &--brand {
            background-color: #e94d51;
            font-size: 20px;
            .navbar-item__link {
                transition: color .25s ease-out;
            }
            .navbar-item__label {
                left: 43px;
            }

            &:hover .navbar-item__link {
                transition: color .25s ease-out;
                color: #000;
            }
        }
        &--brand {
            width: 185px;
            .fa {
                width: 20px;
            }
        }
        &--stocks {
            width: 126px
        }
        &--delivery {
            width: 126px
        }
        &--phone {
            width: 176px
        }
        &--cart {
            width: 160px;

        }
        @include media-breakpoint-down(xs){
            &__link {
                padding: 0 10px;
            }
            &--brand,
            &--phone{
                width: 100%
            }
            &--stocks {
                width: 95px
            }
            &--cart{
                width: 50%;
            }
            &--delivery {
                width: 50%;
            }
            &__label {
                left: 10px;
            }
            &__count,
            &__sum {
                left:90px;
            }
        }
    }
}




