<form class="product-list">
    <div class="row" ng-show="products.length==0">
        <div class="col-sm-12">
            <span>Вы не создали ни одного продукта</span>
            <a ng-click="newProduct()" class="btn btn-primary">Создать</a>
        </div>
    </div>
    <div class="row" ng-show="products.length>0">
        <div class="col-sm-12">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>Название</th>
                    <th>Цена</th>
                    <th>Наличие</th>
                    <th class="text-center" title="Располагается на главной странице"><i class="fa fa-home"></i></th>
                    <th class="text-center" title="Видимость на клиентском сайте"><i class="fa fa-eye"></i></th>
                    <th class="text-center" title="Удаление товара"><i class="fa fa-trash-o"></i></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="product in products">
                    <td title="Основные параметры" class="btn-default text-center m-pointer button" ng-click="edit(product._id)">
                        <i class="fa fa-pencil-square-o"></i>
                    </td>
                    <td title="Редактировать описание" class="btn-default text-center m-pointer button" ng-click="toInfo(product._id)">
                        <i class="fa fa-info"></i>
                    </td>
                    <td title="Фотографии" class="cover m-pointer " ng-click="toPhoto(product._id)">
                        <img fade-in ng-repeat="photo in product.photos | filter:getCover" ng-src="{{'/photos/' + product._id + '/s_' + photo.fileId}}">
                    </td>
                    <td class="name">
                        <div><span ng-bind="product.name"></span><span ng-show="product.extra" ng-bind="' ' + product.extra"></span></div>
                        <div class="url">
                            <span class="m-url-red" title="Товар продается по акции" ng-if="product.stock">A</span>
                            <span class="m-url-purple" title="Количество загруженных картинок" ng-bind="'к:'+product.imageCount"></span>
                            <span class="m-url-purple" title="Количество загруженных обложек" ng-bind="'о:'+product.coverCount"></span>
                            <span title="Url продукта" ng-bind="product.url"></span>
                        </div>
                    </td>
                    <td class="no-padding price">
                        <input id="price" ng-model="product.price" class="form-control text-center no-margin-bottom me-price" ng-model-options="{updateOn:'input'}" ng-change="save(product)">
                    </td>
                    <td class="no-padding my-count">
                        <div class="input-group ">
                            <a class="btn btn-default input-group-addon" ng-click="minus(product)">
                                <i class="fa fa-minus"></i>
                            </a>
                            <input ng-disabled="true" id="count" ng-model="product.count" class="form-control text-center">
                            <a class="btn btn-default input-group-addon" ng-click="plus(product)">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </td>
                    <td class="m-pointer  button m-hover" ng-click="invert(product, 'special')">
                        <i class="fa center-correct" ng-class="product.special?'fa-check-square-o':'fa-square-o'"></i>
                    </td>
                    <td class="m-pointer  button m-hover" ng-click="invert(product, 'publish')">
                        <i class="fa center-correct" ng-class="product.publish?'fa-check-square-o':'fa-square-o'"></i>
                    </td>
                    <td class="btn-danger text-center m-pointer button" title="Удалить товар" ng-click="delete(product._id)">
                        <i class="fa fa-times"></i>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>
