<div class="container">
    <div class="row">
        <h3 class="col-12">Наши бренды</h3>
        <p class="col-12">
            <b>Amelie Galanti</b> - Стильная, качественная и доступная по цене продукция. Мы предлагаем российским
            женщинам возможность купить сумку, визуально и тактильно неотличимую от кожаной по значительно более низкой цене.
            Сумки Amelie Galanti созданы для людей, которые ценят стиль и хорошее качество.
            <a [routerLink]="['/handbags']"[queryParams]="{'izgotovitel':'amelie-galanti'}">Каталог сумок</a>.
        </p>
        <p class="col-12">
            <b>Vera Victoria Vito</b> - Российская компания, которая использует только новейшие технологии и
            суперсовременные материалы. Фирменная итальянская фурнитура, разнообразие материалов и различных
            способов их обработки: кожа с эффектом старения, металлизированные и перламутровые покрытия, велюр,
            затертый воском, отстрочки и аппликации, а так же принты.
            <a [routerLink]="['/handbags']" [queryParams]="{'izgotovitel':'vera-victoria-vito'}">Каталог сумок</a>.
        </p>
        <p class="col-12">
            <b>Alliance</b> - Российская кожгалантерейная фабрика Альянс делает превосходные ранцы для школьников.
            Все ранцы выполнены из водонепроницаемой, легко очищаемой, прочной нейлоновой ткани. Швы дополнительно
            прострочены армированной нитью. Яркие рисунки, жесткая спинка с мягкими подушками-накладками, плавный
            ход молнии, удобные ручки. Все продумано до мелочей. По качеству эти ранцы превосходят даже европейские
            модели при этом имеют китайскую цену.
            <a routerLink="/backpacks">Каталог ранцев</a>.
        </p>
    </div>
</div>