

    .slider {
        background-position: 52%;
        background-size: cover;
        height: 400px;
    }
    .slide-1 {
        background-image: url('/img/bags-3.jpg');
    }

    .slide-2 {
        background-image: url('/img/slide2.jpg');
    }

    .slide-3 {
        background-image: url('/img/slide3.jpg');
    }

    .slogan {
        height: 400px;
        padding-top: 140px;
        text-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
        color:#fff;
        width: 400px;
    }
    @include media-breakpoint-down(lg) {

    }
    @include media-breakpoint-down(md) {

    }
    @include media-breakpoint-down(sm) {

    }
    @include media-breakpoint-down(xs) {


    }

