/*
 *  Font ~font-awesome/scss 4.7.0 by @davegandy - http://font~font-awesome/scss.io - @font~font-awesome/scss
 *  License - http://font~font-awesome/scss.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
@import "~font-awesome/scss/variables";
@import "~font-awesome/scss/mixins";
//@import "~font-awesome/scss/path";
@import "~font-awesome/scss/core";
@import "~font-awesome/scss/larger";
@import "~font-awesome/scss/fixed-width";
@import "~font-awesome/scss/list";
@import "~font-awesome/scss/bordered-pulled";
@import "~font-awesome/scss/animated";
@import "~font-awesome/scss/rotated-flipped";
@import "~font-awesome/scss/stacked";
@import "~font-awesome/scss/icons";
@import "~font-awesome/scss/screen-reader";

@font-face {
    font-family: 'FontAwesome';
    src: url('#{$fa-font-path}/Awesome.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
