@font-face {
    font-family: "Roboto";
    src: url("../fonts/RobotoRegular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoLight";
    src: url("../fonts/RobotoLight.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoMedium";
    src: url("../fonts/RobotoMedium.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoBold";
    src: url("../fonts/RobotoBold.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}
