<div class="row form-group">
    <label class="col-sm-2 control-label">Родительская категория</label>

    <div class="col-sm-10 form-inline">
        <a title="Выбрать родительскую категорию" ng-click="showParents()" class="bl btn btn-primary margin-right-10">Выбрать</a>
        <b ng-if="category.parent.name" style="display: inline-block" class="list-inline" ng-bind="category.parent.name"></b>
    </div>
</div>
<div class="row form-group">
    <label class="col-sm-2 control-label text-nowrap">Название <i class="fa fa-asterisk my-red"></i></label>

    <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="category.name"  ng-model-options="{updateOn:'input'}" ng-change="nameToUrl()">
    </div>
</div>
<div class="row form-group">
    <label class="col-sm-2 control-label text-nowrap">Url</label>

    <div class="col-sm-10">
        <div class="input-group m-input-group">
            <input id="url" ng-model="category.url" ng-change="hideUrlError()" class="form-control">
            <a class="btn btn-default input-group-addon" ng-click="nameToUrl(true)" title="Создать url из названия">
                <i class="fa fa-refresh"></i>
            </a>
        </div>
    </div>
</div>
<div class="row form-group">
    <label for="urlText" class="col-sm-2 control-label text-nowrap">Текст Url</label>

    <div class="col-sm-10">
        <input id="urlText" type="text" class="form-control" ng-model="category.urlText">
    </div>
</div>
<div class="row form-group">
    <label class="col-sm-2 control-label my-pointer" for="publish">Опубликовано</label>

    <div class="col-sm-10 ">
        <label for="publish" class="my-pointer regular">
            <input type="checkbox" id="publish" ng-model="category.publish">
            <span ng-if="category.publish">Пользователи видят эту категорию</span>
            <span ng-if="!category.publish">Не показывается на сайте</span>
        </label>
    </div>
</div>
<div class="row form-group">
    <label class="col-sm-2 control-label">Порядок</label>

    <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="category.order" placeholder="порядковый номер для сортировки 1,2 или 3 и т.д.">
    </div>
</div>
<div class="row form-group">
    <label for="ymlCategoryId" class="col-sm-2 control-label text-nowrap">YML Category Id *</label>

    <div class="col-sm-10">
        <input id="ymlCategoryId" type="text" class="form-control" ng-model="category.ymlCategoryId" placeholder="идентификатор категории для яндекс маркета">
    </div>
</div>
<div class="row form-group">
    <label for="ymlMarketCategory" class="col-sm-2 control-label text-nowrap">YML Market Category *</label>

    <div class="col-sm-10">
        <input id="ymlMarketCategory" type="text" class="form-control" ng-model="category.ymlMarketCategory" placeholder="полное название категории яндекс маркета">
    </div>
</div>
<div class="row form-group">
    <label class="col-sm-2 control-label">Шаблон</label>

    <div class="col-sm-10 form-inline">
        <a title="Выбрать шаблон параметров" ng-click="showTemplates()" class="bl btn btn-primary margin-right-10">Выбрать</a>
        <b ng-if="category.template.name" style="display: inline-block" class="list-inline" ng-bind="category.template.name"></b>
    </div>
</div>
<div class="row form-group">
    <label class="col-sm-2 control-label">Описание</label>

    <div class="col-sm-10">
        <textarea rows="4" class="form-control" ng-model="category.details"></textarea>
    </div>
</div>
<div class="row">
    <div class="col-sm-offset-2 col-sm-10">
        <b>*</b>
        <span>Значения в этих полях указывается, только если пользователь понимает, что он делает</span>
    </div>
</div>
