cart-positions{
    .final{
        background-color: #d9edf7;
        line-height: 45px;
        font-weight: bold;
    }
    .final-name{
        margin-left: 55px;
    }
    .final-price{
        margin-left: 95px;
    }
}

