v-photo {
    .me-image {
        border: 1px solid #e8e8e8;
        display: block;
        img {
            &.hhh {
                opacity: 0 !important;
            }
            min-height: 300px;
            margin: auto;
        }
        img + .me-icon {
            display: none !important;
        }
    }
}